.movieContainer {
  display: flex;
  /* align-items: center; */
  justify-content: center;
}

.movieImg {
  margin-right: 30px;
}

img {
  width: 250px;
}

.link {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 500;
  color: #2a363b;
  font-size: 16px;
}

.active {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 500;
  color: #b92121;
  font-size: 16px;
}

.notFound {
  padding: 32px;
  color: #b92121;
  font-size: 25px;
  font-weight: 500;
  text-align: center;
}
